* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  border: 2px solid red;
  width: 50%;
  margin-top: 3rem;
  margin-inline: auto;
  padding: 1.5rem;
  text-align: center;
}

.wrapper h1,
.wrapper form {
  margin-bottom: 1.5rem;
}

.wrapper form {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1.5rem;
}

.wrapper  form  input {
  margin-right: 1.5rem;
  width: 300px;
  padding: 5px;
}

.wrapper form button {
  padding: 5px 15px;
}

.wrapper li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}