* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  border: 2px solid red;
  width: 50%;
  margin-top: 3rem;
  margin-inline: auto;
  padding: 1.5rem;
  text-align: center;
}

.wrapper h1,
.wrapper form {
  margin-bottom: 1.5rem;
}

.wrapper li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}